---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import BlogHighlightedPosts from '~/components/widgets/BlogHighlightedPosts.astro';
import Tags from '~/components/blog/Tags.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import YoutubeVideo from '~/components/common/YoutubeVideo.astro';

const metadata = {
  title: 'People',
};
---

<Layout metadata={metadata}>

  <!-- People Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      <!--Free template for <span class="hidden xl:inline">creating websites with</span> -->
      <!--<span class="text-accent dark:text-white highlight"> Astro 4.0</span> + Tailwind CSS -->
      <span class="text-accent dark:text-white highlight"> AI in Data Lakes</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      At Infinidata Lab, we recognize the potential of AI to transform data lakes into reservoirs of actionable insights. 
      By embracing multimodal data, our solutions can analyze and process various types of information, from text and images to complex datasets. 
      This approach is turbocharged with GPU acceleration, which dramatically speeds up the computation, allowing our AI models to learn and adapt at unprecedented rates.
      This synergy not only enhances data utility but also optimizes resource usage, propelling businesses towards smarter and faster decision-making processes.
    </Fragment>
  </Hero>


  <Features2
    items={[
      {
        title: 'Rihan Hai',
        description: "I am an assistant professor at Web Information Systems (WIS) group of TU Delft. Before joining TU Delft, I received my Ph.D. degree with “summa cum laude” from Information Systems & Databases group of RWTH Aachen University, Germany. I received my BEng and MEng from Tsinghua University, China. My research focuses on data lakes, data management for machine learning, and quantum data management.",
        image: { src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/rihan.jpg', alt: 'AstroWind Hero Image' },
      },
      {
        title: 'Wenbo Sun',
        description: "Wenbo Sun is a PhD candidate at WIS team. Prior to joining TUDelft, he worked as a software engineer, then received his master degree in computational science at University of Amsterdam. His research focuses on database system, machine learning system and performance engineering.",
        image: {src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/wenbosun.jpg', alt: ''}
      },
      {
        title: 'Ziyu Li',
        description: "I am a PostDoc at the Web Information Systems group, Department of Software Technology, Faculty of EEMCS, Delft University of Technology.  My research lies at the intersection of Machine Learning and data analysis. In particular, my reserach investigates how to apply metadata of different artifacts (e.g., model, data, hardware settings) to improve the effectiveness and efficiency of machine learning workflows.",
        image: {src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/ziyu_li.jpg', alt: ''}
      },
    ]}
  />

  <BlogHighlightedPosts
      title="Find out more content in our Blog"
      information={`The digestion of our on-going projects
                  `}  
      category='model-lake'
  />


</Layout>
