---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import FeaturesCenter from '~/components/widgets/FeaturesCenter.astro';


const metadata = {
  title: 'Publications',
};
---

<Layout metadata={metadata}>
  
  <!-- Add items to the list below. -->
  <!--Create another list for separation by year if wanted. -->
  

  <FeaturesCenter
  id="publications"
  title="Publications"
  columns={1}
  items={[
    {
      title: "Towards Quantum Data Structures for Enhanced Database Performance",
      presurl:{
        href:"files/QDSM_Presentation.pdf"
      },
      // image:{
      //   src: 'images/vldb_2024_icon.png',
      //   alt:"VLDB 2024"
      // },
      description: 'Tim Littau, Ziyu Li, Rihan Hai <br \> International Workshop on Quantum Data Science and Management, QDSM 2024',

    },
    {
      title: "On Efficient ML Model Training in Data Lakes",
      presurl:{
        href:"files/vldb24_Phdworkshop.pptx"
      },
      // image:{
      //   src: 'images/vldb_2024_icon.png',
      //   alt: "VLDB 2024"
      // },
      description: "Wenbo Sun <br\> VLDB PhD Symposium",
    },
    
    {
      callToAction:{
        text:'Model Selection with Model Zoo via Graph Learning',
        href: 'transfergraph',
      },
      paperurl:{
        href: 'https://arxiv.org/pdf/2404.03988',
      },
      // presurl: {
      //   href: "/files/Quantum Data Management.pdf"
      // },
      // image:{
      //   src: '~/assets/images/icde-2024.png',
      //   alt: 'Colorful Image',
      // },
      description: '<strong> Ziyu Li </strong>, Hilco van der Wilk, Danning Zhan, Megha Khosla, Alessandro Bozzon, Rihan Hai <br \> In Proceedings of the 2024 IEEE 40th International Conference on Data Engineering, ICDE 2024',
    },
    {
      callToAction:{
        text:'Amalur: the Convergence of Data Integration and Machine Learning',
        href: 'amalur',
      },
      paperurl: {
        href: 'https://ieeexplore.ieee.org/abstract/document/10412203',
      },
      // presurl: {
      //   href: "/files/Quantum Data Management.pdf"
      // },
      // image:{
      //   src: '~/assets/images/tkde.png',
      //   alt: 'Colorful Image',
      // },
      description: '<strong> Ziyu Li</strong>, Wenbo Sun, Danning Zhan, Yan Kang, Lydia Chen, Alessandro Bozzon, and Rihan Hai. <br /> IEEE Transactions on Knowledge and Data Engineering (2024).'
    },
{
      callToAction:{
        text:'SiloFuse: Cross-silo Synthetic Data Generation with Latent Tabular Diffusion Models',
        href: 'silofuse',
      },
      paperurl: {
        href: 'https://arxiv.org/abs/2404.03299',
      },
      presurl: {
        href: "/files/SiloFuse.pptx"
      },
      // image:{
      //   src: '~/assets/images/icde-2024.png',
      //   alt: 'Colorful Image',
      // },
      description: '<strong> Aditya Shankar</strong>, Hans Brouwer, Rihan Hai, and Lydia Chen. <br /> In Proceedings of the 2024 IEEE 40th International Conference on Data Engineering, ICDE 2024'
    },
  ]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-whitte-50 dark:bg-transparent"></div>
</Fragment>
</FeaturesCenter>

</Layout>
